<html>
  <div class="page-container">
    <div class="second-background">
      <div class="navbar">
        <div class="navbar-item">
          <img src="../assets/logo_principal_transparente.png" alt="Logo da Mobbuy"/>
        </div>    
        <div class="navbar-item">
          <a href="http://104.248.48.103:9080/mobbuy-backoffice-web/#/login" target="_blank">Área do cliente</a>
          <mat-icon>account_circle</mat-icon>
        </div>
      </div>
      <div class="content-container">
        <div class="apresentation-container">
          <div class="text">
            <h2>Em breve</h2>
            <h3 class="description">Uma nova Mobbuy está por vir</h3>
          </div>
          <div class="social-medias-container">
            <!-- <h4>Confira nossas redes sociais</h4> -->
            <div class="icons-container">
              <a href="https://www.facebook.com/Mobbuy-103270291155805/" target="_blank"><img src="../assets/facebook-icon.png" /></a>
              <a href="https://www.linkedin.com/company/mobbuy-servi%C3%A7os-para-meios-de-pagamento/" target="_blank"><img src="../assets/linkedin-icon.png" /></a>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-box">
            <div class="contact-title">
              <h4>Quer saber mais? Entre em contato!</h4>
            </div>
            <div class="contact-item">
              <mat-icon>mail</mat-icon>
              <span>contato@mobbuy.com.br</span>
            </div>
            <form class="form-fields-container">
              <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" />
                <mat-icon matSuffix>account_box</mat-icon>
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Nome" />
                <mat-icon matSuffix>mail</mat-icon>
              </mat-form-field>
    
              <mat-form-field appearance="outline">
                <mat-label>Telefone</mat-label>
                <input matInput placeholder="Nome" />
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Mensagem</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
  
              <button mat-raised-button>Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>